*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 100vh;
}

.pepsi{
    width: 420px;
    height: 300px;
    margin: 80px;
    position: relative;
}

.img-pepsi img{
    margin-top: -8px;
    width: 265px;
    height: 310px;
    margin-left: 30px;
}

.img-pepsi {
    width: 100px;
    height: 300px;

    background-color: rgb(255 255 255);
    position: absolute;
    transition: all .5s ease .2s;
    left: 0px;
    margin-left: 98px;
}

.pepsi:hover .img-pepsi{
    margin-left: 228px;
    margin-top: -40px;
    background-color: rgba(240, 248, 255, 0);
}

.pepsi:hover .img-peps .img{
    margin-top: -35px;
    width: 160px;
    height: 310px;
    margin-left: 256px;
}

.lorem-p{
    width: 194px;
    height: 50px;
    position: absolute;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 40px;
    margin-left: 100px;
    transition: all .5s ease .2s;
    direction: rtl;
}

.pepsi:hover .lorem-p{
    margin-left: 40px;
}

.pepsi .buttom{
    width: 98px;
    height: 32px;
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    margin-top: 225px;
    margin-left: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: red;
    border: solid .8px red;
    transition: all .9s ease .2s;
    cursor: pointer;
}

.buttom:hover {
    width: 99px;
    height: 32px;
    overflow: initial;
    border-radius: 50px;
    background-color: red;
    margin-top: 225px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 40px red;
}

.pepsi:hover .buttom{
    margin: 40px;
    margin-top: 225px;
}